.wrapper{
    display: flex;
    flex-wrap: wrap;

}
.card{
    background-color: #BFDBF7;
    margin: 5%;
    padding: 5%;
    border-radius: 20px;
}

button a {
    color: white;
    text-decoration: none;
}