.main-wrapper .explanation { 
    max-width: 100%;
}

.code-snippet { 
    display: block;
    width: 100%;
}

section { 
    margin-bottom: 3rem;
}

.code-snippet-wrapper > .correct, .code-snippet-wrapper > .wrong {
    width: 100%;
}