

.hero-container { 
    padding: 2rem;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.hero-container .welcome { 
    margin-top: 10%;
    max-width: 50%;
}

.hero-container .banner img { 
    max-width: 100%;
}

.line { 
    border: solid 1.2px;
    border-radius: 100px;
    border-color: #808080;
    width: 80%;
    margin: 0 auto;
}

.roadmap-container{ 
    position: relative; 
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roadmap-txt { 
    text-align: center;
}

.roadmap-img { 
    padding: 5% 0 5% 5%;
    margin: 5%;
  
}

.roadmap-img img { 
    display: block;
    max-width: 100%;
}


section.work { 
    background-color: #E1E5F2;
    padding: 2rem;
}

.work-title { 
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20vh;
}

.work-container { 
    display: flex;
    justify-content: space-around;
}

.learn-container, .practice-container, .build-container{ 
    text-align: center;
    max-width: 25%;
}

section.work span{ 
  font-weight: bold;
}

.quote-wrapper { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BFDBF7;
    height: 30vh;
}

.quote { 
    text-align: center;
    padding-top: 1.5vh;
    color: white;
}

.quiz-heading { 
    text-align: center;
    padding: 5vh;
}

.quiz-container { 
    display: flex;
    position: relative; 
    justify-content: space-evenly;
    align-items: center;
}

.quiz-container a { 
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.lemon,.wanted-poster, .poker-card { 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25%;
    height: 50vh;
    background-color: #E1E5F2;
}

.lets-try { 
    position: absolute;
    bottom: 1vh;
    right: 1vw;
}

.lets-try a { 
    color: #1F7A8C;
}

.quiz-btn button{ 
    display: block;
    margin: 5vh auto;
}

.separator { 
    width: 10%;
    border: #808080 solid 1px;
    margin: 15vh auto;
    transform: rotate(90deg);
}

.student-container { 
    display: flex;
    justify-content: space-evenly;
}

.student-heading { 
    text-align: center;
    margin: 5vh;
}

.first-student, .second-student, .third-student { 
    position: relative;
    max-width: 25%;
    max-height: 60vh;
}

.student-container .name {
    position: absolute;
    bottom: -5vw;
}

.sign-up-wrapper { 
    max-height: 100vh;
    margin-top: 15vh;
}
.sign-up-container{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8rem;
}

.sign-up-text { 
    width: 50%;
    text-align: center;
}

@media screen and (max-width: 1080px) {

    .hero-container { 
        flex-direction: column-reverse;
        align-items: center;
        margin: 10%;
    }

    .hero-container .welcome{ 
        text-align: center;
        max-width: 100%;
    }

    button { 
        font-size: .6rem;
    }

    .work-container { 
        flex-direction: column;
    }

    .learn-container, .practice-container, .build-container {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2rem;
    }

    .learn-img, .practice-img, .build-img { 
        margin-right: 1rem;
    }

    .quote { 
        font-size: 0.8rem;
    }

    .quiz-container { 
        flex-direction: column;
    }

    .lemon, .wanted-poster, .poker-card { 
        min-width: 100%;
    }

    .student-container { 
        flex-direction: column;
    }

    .first-student, .second-student, .third-student { 
        position: static;
        max-width: 100%;
        margin-bottom: 4rem;
    }
   
    .student-container .name { 
        margin-top: 2rem;
        position: static;
    }

    .sign-up-img img { 
        max-width: 100%;
    }

    .sign-up-container { 
        padding: 0;
        margin: 1rem;
        flex-direction: column;
    }

    .sign-up-text { 
        width: 100%;
    }

    .footer-nav ul > li { 
        margin:0;
    }

    
}