@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/*menu*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
}
.menu-container {
  position: auto;
  background-color: white;
  display: flex;
  align-items: center;
  color: #1f7a8c;

  padding-left: 24px;
  padding-right: 24px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.logo {
  flex: 1;
  font-size: 30px;
}
.menu {
  justify-content: right;
  font-size: 18px;
}
.menu ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin: 0 0.5rem;
  padding: 10px;
}
a {
  text-decoration: none;
  color: #1f7a8c;
}
a:visited {
  color: #1f7a8c;
}

/*body*/
.main {
  display: flex;
  flex-direction: row-reverse;
}
.form-group {
  padding-top: 200px;
  padding-right: 100px;
  padding-left: 60px;
}

.email {
  padding-bottom: 16px;
}
.email input {
  width: 410px;
  height: 45px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid;
  padding: 5px;
}
.password input {
  width: 410px;
  height: 45px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid;
  padding: 5px;
}

.btn {
  font-size: 18px;
  background-color: #1f7a8c;
  color: white;
  width: 410px;
  height: 45px;
  border-radius: 5px;
  margin-top: 25px;
}

.left-section {
  flex-grow: 1;
  height: 900px;
  height: 750px;
  background-color: #e1e5f2;
}
h2 {
  padding-top: 300px;
  padding-left: 30px;
  font-size: 40px;
}
.bateau {
  color: #1f7a8c;
}
.line {
  padding-left: 40px;
}
hr {
  background-color: #1f7a8c;
  width: 205px;
  height: 10px;
  border-radius: 25px;
}
h3 {
  font-size: 20px;
  padding-top: 20px;
  padding-left: 30px;
}
