.wrapper { 
    display: flex;
    justify-content: space-evenly;
    height:80vh;
}

.post-content { 
    width: 50%;
}

/* button { 
    all: revert;
} */
img {
    /* width: 200px;
    height: auto;
    align-self: center; */
    display: block;
    width: 50%; /* Or 600px instead of percentager value */
    margin-left: auto;
    margin-right: auto;
  }

h1{
  text-align: center;
}

  .right-section {
    border-left: 2px solid lightgrey;
  }
  
  .search {
    height: 50px;
    position: relative;
  }
  
  .search .input-search {
    transition: width 0.3s ease;
    width: 40px;
    height: 42px;
    border-radius: 100px;
    
  }
  
  .btnsearch {
    width: 50px;
    height: 50px;
    padding-left: 20px;
    position: absolute;
    transition: transform 0.3s ease;
    left: 0;
    top: -20px;
    border-radius: 100px;
    
  }
  
  .search.active .input-search {
    width: 200px;
    padding-left:60px;
  }
  
  .search.active .btn {
    transform: translateX(0);
  }
  a{
    text-decoration: none;
    color:1F7A8C;
  }
  a :visited{
    color:1F7A8C;
  }