
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family:'Poppins', sans-serif; 
}

header { 
    padding: 1rem;
    font-size: 1rem;
}

.nav-container { 
    display: flex;
    align-items: center;
}

.lebateau {
    flex: 1; 
}

.lebateau span { 
    font-size: 1.5rem;
}

.lebateau a { 
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

ul { 
    list-style: none;
}

li { 
    display: inline-block;
    margin: 0 0.5rem;
}

li a { 
    text-decoration: none;
    color: black;
}

.bar-icon > button { 
    all: unset;
    cursor: pointer;
    margin: 0 0.2rem;
    display: none;
}

li > a:hover, li > a.active { 
    color: #1F7A8C;
}

button { 
    color: white;
    background: #1F7A8C;
    margin: 1rem 0;
    padding: 0.5rem 2rem;
    font-family: 'Poppins';
    border:none; 
    border-radius: 40px;
    cursor: pointer;
}


.footer-container { 
    position: absolute;
    bottom: 0;
    background-color: #BFDBF7;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.footer-nav li { 
    margin: 0 5vw;
}

.footer-container .copyright { 
    font-size: 0.8rem;
    color: white;
    position: absolute;
    bottom: 1vh;
}

@media screen and (max-width: 1080px) {    
    .links { 
        display: none;
    }

    .bar-icon > button { 
        display: block;
        font-size: 1.5rem;
    }

    .responsive-menu { 
        margin: 0 0 10% 20%;
        z-index: 1;
        background-color: #E1E5F2;
        position: absolute;
        right: 0%;
        top: 15%; 
        animation-name: slideLeft;
        animation-duration: 0.5s;
    }

    .responsive-links ul > li { 
        display: block;
        margin-bottom: 1.5rem;
    }

    @keyframes slideLeft {
        from {right: -100%;}
        to {right: 0;}
    }
  
}
